
/* Container class Width and margin*/
.container {

    
    width: 500px;
    margin: 50px auto;
    
 
}

.container h2 , .container h3{
         text-align: center;
         padding:0px  12px;
         margin:0px 0px;
         
         
}

/*Button class According*/
button.accordion{
    width:100%;
    
    background-color: whitesmoke;
    font-family: " open sans";
    border:none;
    outline:none;
    text-align:center;
    padding: 15px 20px;

    
    cursor:pointer;
    font-weight: bold;
    transition: background-color 0.23 linear;
    
    
}



#button2{
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}



button.accordion:hover{
    background-color: #ddd;
    
}

button.accordion.is-open{
    background-color:#191970;
    color:white;
    
  
}

button.accordion::after {
    content: "\002B";
  

    float: right;
    
    
    
}

button.accordion.is-open::after{
    content: "\2212";
    

    
    
}

/* Content */

.Accordion-Content{
    
    max-height: 0;
    overflow:hidden;
    padding: 0px 0px;
  
    text-align: center;
    transition: max-height 0.02s ease-out;
    font-family: 'open sans'; 
    
   
}

.Accordion-Content.is-open{
    overflow-y:auto;
    

}  
    

.Accordion-Content p{
        padding: 10px 0px 10px 0px;
    }


/*The Percentage div*/
.percentdata{
    padding: 22px 0px;
}


/*Adjusting the percetage to be next to each other*/
.wool, .cashmere, .modal{
    display: inline-block;
    padding: 0px px;
    text-align: center;
}

#wooltext{
    text-decoration: underline;
}


/* WHEN the screen is for tablets or dekstop */
@media only screen and (min-width: 767px) {
    
    

    
    .container{
       
            
        
        display:grid;
        grid-template-columns: 30% 30% 30%;
        
    }
    
    button.accordion, #button2{
        border: 2px solid black;
        
       
    }
    
    

    
  /*Lining up the Buttons on the Grid*/  
    #button1{
       grid-area: 1/1/1/ 1;
       
    }
    
    #button2{
       grid-area: 1/2/1/  2;
  
    
        
    }
    
    #button3{
       grid-area: 1/3/1/3;
        
    }
    
    
    
    .Accordion-Content{
    
     
        grid-area:2/1/3/span 3;

    }
    
    .Accordion-Content.is-open{
    overflow-y:hidden;
    

    
    

}
    
 
       
   

   

    
}