.about-me{
    @include container($max-width:51em);
    @include  clearfix;
    margin-top:3em;
   margin-bottom: 3em;
   background:rgba(153, 5, 0, 0.959);

   

   
}
$media_size :62em;
   
@media screen and (min-width:$media_size){
    
 .about-me{
     background:rgb(0, 46, 107) !important;

 }  
}


.about-img{
    max-height: 23;
    


    @media (min-width: 42em){
        float:left;
        margin-right: 3em;

        
       
        
    }


}

.about-title{
    margin-bottom:.25em;
    margin-left: 1.25;




}

.about-subtitle{
    margin:.5em 0;
}

@supports(display:grid){
    .about-me{
        display: grid;
      // grid-template-columns:1fr 1fr;
        grid-template-columns: [port-start] minmax(6em, 1fr)  [name-start] minmax(6em, 1fr) [img-end] 1.5fr [port-end];

        @media screen and (min-width:$media_size){
    
            .about-me{
                grid-template-columns: repeat(5,1fr);
             
           
            }
            
            .about-img{
                grid-column:1/3;
                grid-row: 1/2;
            }

            .about-title{
                grid-column: 2 / 4;
                grid-row: 1 /  2;
                align-self: start;
                margin-top: .1em;
                margin-left: 1em;
               

            }

            .about-subtitle{
                grid-column: 3/4;
                grid-row: 1/2;
                align-self:    start;
                margin-top : 2em;
               
            }
            .about-text {
        
               grid-column: 1/4;
               grid-row: 1/3;
               align-self: flex-end;
               margin-left: 48%;
               margin-bottom: 8em;
               width: 50%;
               text-align: left;
        
            }
        
           }
       
        
    }

    .about-img{
        grid-column: port-start/ img-end;
        grid-row:1/2;
        
      
    }


    .about-title{
        grid-column: name-start / port-end;
        grid-row: 1 / 2;
        align-self: end;
      
       
    }


    .about-subtitle,
    .about-text {

       grid-column:port-start/ port-end;

    }



}